html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.input{
    width: 240px
}

.page {
    display: flex;
    background: lightblue;
    flex-direction: column;
    height: 100vh;
}

.page-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.search-bar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.section-header {
    justify-content: center;
    display: flex;
}

.weather-section {
    width: 85%;
    overflow-y: auto;
    height: calc(100vh - 60px);
}

.news-section {
    width: 15%;
    overflow-y: auto;
    height: calc(100vh - 60px);
    padding-left: 10px;
    padding-right: 5px;
}

.news-card {
    background-color: lightblue;
    border: 1px solid #00008B; /* Dark blue color */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.news-card img {
    width: 100%;
    height: auto;
}

.news-card h4 {
    margin-top: 10px;
}

.news-card p {
    font-size: 0.9em;
    color: #666;
}

.forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.forecast-card {
    flex: 0 0 auto;
    width: 200px;
    background-color: darkseagreen;
    margin: 5px;
    padding: 15px 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scrollable-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
}

.header {
    background: lightblue;
    margin: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-bottom: 1px solid #00214d;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.content {
    display: flex;
    padding-left: 10px;
    flex-grow: 1;
    padding-top: 60px;
}

